<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <style>
        *{
            background-color: rgb(236, 247, 251);
        }
    </style>
    <script>
        var module=angular.module("myKuchModule",[]);
        var controller=module.controller("myKuchController",function($scope,$http)
        {
            $scope.jsonArrayAll;
            $scope.getAll=function(){
                let url="/fetch-all-infl";
                $http.get(url).then(function(response)
                {
                    //alert(JSON.stringify(response.data));
                    $scope.jsonArrayAll=response.data;
                },function(err){
                    alert(err);
                });
            }
        });
        </script>
</head>
<body ng-app="myKuchModule" ng-controller="myKuchController">
    <center>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid" style="background-color: rgb(230, 238, 240);">
            <a class="navbar-brand" href="#">
              <img src="pics/Trendy.png" alt="" height="60" width="60">
              TrendyTrove.in</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            </div>
          </div>
        </nav>
      </center>



    <center>
        <h1 style="background-color: rgb(0, 183, 255); color: white;">Admin - All Infleuncers Info</h1><br><br>
    <input type="button" class="btn btn-primary" value="Fetch All Infleuncers" ng-click="getAll();">
    <hr>
    
    <table width="700" border="1" rules="all" class="table table-striped">
        <tr>
            <th style="background-color: skyblue;">Sr. No.</th>
            <th style="background-color: skyblue;">Email Id</th>
            <th style="background-color: skyblue;">Name</th>
            <th style="background-color: skyblue;">Gender</th>
            <th style="background-color: skyblue;">D.O.B.</th>
            <th style="background-color: skyblue;">Address</th>
            <th style="background-color: skyblue;">City</th>
            <th style="background-color: skyblue;">Contact</th>
            <th style="background-color: skyblue;">Field</th>
            <th style="background-color: skyblue;">Instagram</th>
            <th style="background-color: skyblue;">Facebook</th>
            <th style="background-color: skyblue;">Youtube</th>
            <th style="background-color: skyblue;">Others</th>
            <th style="background-color: skyblue;">Profile</th>
        </tr>
        <tr ng-repeat="obj in jsonArrayAll">
            <td>{{$index+1}}</td>
            <td>
                {{obj.emailid}}
            </td>
            <td>
                {{obj.iname}}
            </td>
            <td>
                {{obj.gender}}
            </td>
            <td>
                {{obj.dob}}
            </td>
            <td>
                {{obj.address}}
            </td>
            <td>
                {{obj.city}}
            </td>
            <td>
                {{obj.contact}}
            </td>
            <td>
                {{obj.field}}
            </td>
            <td>
                {{obj.insta}}
            </td>
            <td>
                {{obj.fb}}
            </td>
            <td>
                {{obj.youtube}}
            </td>
            <td>
                {{obj.other}}
            </td>
            <td>
                {{obj.picpath}}
                <br>
                <img src="uploads/{{obj.picpath}}" height="50" width="50" alt="">
            </td>
        </tr>
    </table>

</center>
</body>
</html>